name: container
on:
    push:
        branches: [main]
    workflow_dispatch:
permissions:
    contents: read
    packages: write
    pages: write
    id-token: write
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Log in to Docker Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
            - name: Build and push docker image
              uses: docker/build-push-action@v6
              with:
                  push: true
                  tags: |
                      ghcr.io/dpabon/s4t_web_server_visualization:latest
                      ghcr.io/dpabon/s4t_web_server_visualization:${{ github.sha }}
                  cache-from: type=registry,ref=ghcr.io/dpabon/s4t_web_server_visualization:latest
                  cache-to: type=inline
            - name: Write SSH keys
              env:
                SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
                VM_HOST: ${{ secrets.VM_HOST }}
              run: |
                install -m 600 -D /dev/null ~/.ssh/id_rsa
                echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
                host= 
                hosts="$(dig +short "$VM_HOST" | grep -v '\.$' | sed -z 's|\n|,|g')$VM_HOST"
                ssh-keyscan -H "$hosts" > ~/.ssh/known_hosts
            - uses: actions/checkout@v4
            - name: Deploy website
              run: |
                ssh $VM_HOST sh <<EOF
                cd /media/s4t_web_server_visualization
                git fetch
                git checkout ${{ github.sha }}
                docker compose up --detach
                docker system prune
                EOF
