name: container
on:
    push:
        branches: [main]
    workflow_dispatch:
permissions:
    contents: read
    packages: write
    pages: write
    id-token: write
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Log in to Docker Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
            - name: Build and push docker image
              uses: docker/build-push-action@v6
              with:
                  push: true
                  tags: |
                      ghcr.io/dpabon/s4t_web_server_visualization:latest
                      ghcr.io/dpabon/s4t_web_server_visualization:${{ github.sha }}
                  cache-from: type=registry,ref=ghcr.io/dpabon/s4t_web_server_visualization:latest
                  cache-to: type=inline
