name: container
on:
    push:
        branches: [main]
    workflow_dispatch:
permissions:
    contents: read
    packages: write
    pages: write
    id-token: write
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Log in to Docker Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
            - name: Build and push docker image
              uses: docker/build-push-action@v6
              with:
                  push: true
                  tags: |
                      ghcr.io/dpabon/s4t_web_server_visualization:latest
                      ghcr.io/dpabon/s4t_web_server_visualization:${{ github.sha }}
                  cache-from: type=registry,ref=ghcr.io/dpabon/s4t_web_server_visualization:latest
                  cache-to: type=inline
            
            - name: Write SSH keys and deploy website
              env:
                SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
                VM_HOST: ${{ secrets.VM_HOST }}
                VM_USER: ${{ secrets.VM_USER }}
              run: |
                set -ex  # Enable debug and exit immediately on failure

                # Create .ssh directory if it doesn't exist
                mkdir -p ~/.ssh
                chmod 700 ~/.ssh

                # Write the private key to a file
                echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
                chmod 600 ~/.ssh/id_rsa
                
                 # Scan the host's public key to known_hosts to avoid prompt
                ssh-keyscan -H "$VM_HOST" >> ~/.ssh/known_hosts
                chmod 644 ~/.ssh/known_hosts

                # SSH into the VM and run deployment commands
                ssh -o StrictHostKeyChecking=no ${VM_USER}@${VM_HOST} << 'EOF'
                set -e  # Exit on error
                cd /media/s4t_web_server_visualization
                git fetch origin
                git checkout ${{ github.sha }}
                
                docker compose down  # Stop and remove existing containers (if any)
                docker compose pull  # Pull new images
                docker compose up -d --build  # Build and start in detached mode
                docker system prune -af
                EOF
                
